<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Hybrid 8</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>AudioComponentBundle</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            <key>AudioComponents</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Johan: Hybrid 8</string>
                    <key>description</key>
                    <string>8-voice hybrid analogue + wavetable polysynth</string>
                    <key>type</key>
                    <string>aumu</string>
                    <key>subtype</key>
                    <string>Hy8v</string>
                    <key>manufacturer</key>
                    <string>Jhgn</string>
                    <key>version</key>
                    <integer>65536</integer>
                    <key>sandboxSafe</key>
                    <true/>
                    <key>tags</key>
                    <array>
                        <string>Synthesizer</string>
                        <string>Instrument</string>
                    </array>
                </dict>
            </array>
        </dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.AudioUnit-UI</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).AudioUnitViewController</string>
    </dict>
</dict>
</plist>
